@import "tailwindcss";

@theme {
  --color-background: #001d3b;
  --color-border: #49769f;
  --color-accent: #7cbcea;
  --color-card: #0a4074;
  --color-foreground: #ffffff;
  --color-muted-foreground: #4d8ea2;
}


*{
  @apply box-border
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}